.debug-permission2,
.debug-permission {
    font-size: 11px !important;
    display: block !important;
    line-height: normal;
    border-radius: 5px;
    width: max-content;
    padding: 2px 5px;
    margin-right: 15px;
    float: right;
    text-transform: lowercase;
    text-transform: none !important;
}
.debug-permission2 { float: none; }
.debug-permission.inicio:after { content: "(start)" }
.debug-permission.group:after { content: "(end)" }
.debug-permission + .tooltip pre {
    background: transparent;
    color: #FFF;
}
.debug-permission + .tooltip pre span {
    display: inline-block !important;
    font-size: 12px;
    text-transform: none;
    font-style: normal;
}
.debug-permission + .tooltip .tooltip-inner { max-width: 1100px; }
label>.debug-permission { float: none; }
#list-permissions label.checkbox span:last-of-type {
    margin: -12px 0 -13px 0;
    display: block;
    color: blue;
}
#list-permissions label.checkbox.active b {
    background: #f19e9e;
    border-radius: 5px;
    padding: 1px 3px;
}
#content .tiles > span {
    min-width: 350px;
    min-height: 65px;
    margin: -5px 0 30px 15px;
}
#left-panel ul li > span.debug-permission {
    min-height: 30px;
    float: none;
    margin-right: initial;
}
#debug-show-logModal table tbody tr td:nth-child(n+1) pre {
    width: 460px;
    white-space: pre-wrap;
}

.select2-container.select2-container--open {
    z-index: 99999;
}
